.sino {
    cursor: pointer;
}

.custom-notfication {
    background-color: #DB4648 !important;
    color: rgb(255, 255, 255);
}

.navbar .sino {
    width: 60px;
}

@media (max-width: 768px) {
    .sino {
        cursor: pointer;
    }

    .navbar .sino {
        width: 50px;
    }
}